body {
    background-color: rgb(125, 182, 232);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
    margin: 0;
    font-family: "Helvetica Neue"
}
.box {
    text-align: center;
}

